.header
  margin: 16px 0
  background-color: #e53935

input.form-control
  margin-top: 16px
  margin-bottom: 16px

ul.nav.navbar-nav li a
  color: #fff
  font-size: 16px
  padding: 24px

ul.nav.navbar-nav li.active a
ul.nav.navbar-nav li a:hover
ul.nav.navbar-nav li a:focus
  background-color: #d32f2f

.user-thumbnail
  width: 40px
  height: 40px
  border-radius: 50%
  margin-right: 16px
  margin-top: 12px
  background-position: center center
  background-repeat: no-repeat
  background-size: cover
