.favorite-list-item
  display: flex
  align-items: center
  margin-bottom: 8px
  padding: 4px
  &:hover
    background-color: #fafafa

.hero-thumbnail
  display: inline-block
  width: 60px
  height: 60px
  border-radius: 50%
  background-position: center center
  background-repeat: no-repeat
  background-size: cover

.hero-name
  margin-left: 16px
  vertical-align: middle

.hero-rating
  margin-right: 16px
  margin-left: auto
  display: flex
  flex-direction: row

nghb-unfavorite-button
  margin-left: 20px
