/* You can add global styles to this file, and also import other style files */
html
body
.container
  height: 100%

.main-content .panel-body
  height: calc(90vh - 100px)
  margin-bottom: 0
  overflow-y: auto

a
button
.clickable
  cursor: pointer

.panel
  border-radius: 0
  &.panel-body
    position: relative

.btn
  border-radius: 0
  color: #fff
  background-color: #e53935
  outline: 0 !important
  &:hover
  &:focus
  &.active
    color: #fff
    background-color: #d32f2f
